In [16]:
from openclean.data.source.socrata import Socrata
import gzip
import humanfriendly
import os

dataset = Socrata().dataset('k397-673e')
datafile = './k397-673e.tsv.gz'

if not os.path.isfile(datafile):
    with gzip.open(datafile, 'wb') as f:
        print('Downloading ...\n')
        dataset.write(f)
        
fsize = humanfriendly.format_size(os.stat(datafile).st_size)
print("Using '{}' in file {} of size {}".format(dataset.name, datafile, fsize))

from openclean.pipeline import stream
from openclean.data.load import dataset
import pandas as pd

ds = stream(datafile)
ds_full = dataset(datafile)

Using 'Citywide Payroll Data (Fiscal Year)' in file ./k397-673e.tsv.gz of size 89.62 MB

In [17]:
ds_full.head()

,Fiscal Year,Payroll Number,Agency Name,Last Name,First Name,Mid Init,Agency Start Date,Work Location Borough,Title Description,Leave Status as of June 30,Base Salary,Pay Basis,Regular Hours,Regular Gross Paid,OT Hours,Total OT Paid,Total Other Pay
0,2020,17,OFFICE OF EMERGENCY MANAGEMENT,BEREZIN,MIKHAIL,,08/10/2015,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.00,per Annum,1820,84698.21,0,0.00,0.00
1,2020,17,OFFICE OF EMERGENCY MANAGEMENT,GEAGER,VERONICA,M,09/12/2016,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.00,per Annum,1820,84698.21,0,0.00,0.00
2,2020,17,OFFICE OF EMERGENCY MANAGEMENT,RAMANI,SHRADDHA,,02/22/2016,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.00,per Annum,1820,84698.21,0,0.00,0.00
3,2020,17,OFFICE OF EMERGENCY MANAGEMENT,ROTTA,JONATHAN,D,09/16/2013,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.00,per Annum,1820,84698.21,0,0.00,0.00
4,2020,17,OFFICE OF EMERGENCY MANAGEMENT,WILSON II,ROBERT,P,04/30/2018,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.00,per Annum,1820,84698.21,0,0.00,0.00

In [18]:
COLUMNS = [
    "Payroll Number",
    "Agency Name",
    "Last Name",
    "First Name",
    "Mid Init",
    "Agency Start Date"
]

In [19]:
from openclean.profiling.column import DefaultColumnProfiler
from openclean.profiling.dataset import dataset_profile

#profiles = ds.profile(default_profiler=DefaultColumnProfiler)
profiles = dataset_profile(ds_full)

In [20]:
print(profiles.stats())

                              total    empty  distinct  uniqueness    entropy
Fiscal Year                 3923290        0         7    0.000002   2.805614
Payroll Number              3923290  1745440       157    0.000072   4.286506
Agency Name                 3923290        0       165    0.000042   4.365925
Last Name                   3923290     2031    157080    0.040059  14.264455
First Name                  3923290     2033     88232    0.022501  11.611521
Mid Init                    3923290  1596166        43    0.000018   4.073274
Agency Start Date           3923290       63     14933    0.003806  11.097847
Work Location Borough       3923290   506226        22    0.000006   1.507244
Title Description           3923290       84      1802    0.000459   6.207524
Leave Status as of June 30  3923290        0         5    0.000001   0.710495
Base Salary                 3923290        0     98573    0.025125  10.224240
Pay Basis                   3923290        0         4    0.000001   1.405552
Regular Hours               3923290        0     86101    0.021946   4.617157
Regular Gross Paid          3923290        0   1785527    0.455110  18.008194
OT Hours                    3923290        0     52619    0.013412   4.113907
Total OT Paid               3923290        0    806992    0.205693   6.337171
Total Other Pay             3923290        0    850763    0.216849  10.056461

In [21]:
print(profiles.types())

                             date    float   int     str
Fiscal Year                     0        0     7       0
Payroll Number                  0        0   157       0
Agency Name                     0        0     0     165
Last Name                       0        1     1  157078
First Name                      0        2     0   88230
Mid Init                        0        0     9      34
Agency Start Date           14933        0     0       0
Work Location Borough           0        0     0      22
Title Description               0        0     0    1802
Leave Status as of June 30      0        0     0       5
Base Salary                     0    98573     0       0
Pay Basis                       0        0     0       4
Regular Hours                   0    83708  2393       0
Regular Gross Paid              0  1785527     0       0
OT Hours                        0    51067  1552       0
Total OT Paid                   0   806992     0       0
Total Other Pay                 0   850763     0       0

In [23]:
agency = ds.distinct('Agency Name')
for rank, val in enumerate(agency.most_common()):
    st, freq = val
    print(f'{rank + 1:<3} {st}  {freq:>10,}')

1   DEPT OF ED PEDAGOGICAL     758,360
2   DEPT OF ED PER SESSION TEACHER     608,565
3   POLICE DEPARTMENT     367,745
4   DEPT OF ED PARA PROFESSIONALS     245,259
5   BOARD OF ELECTION POLL WORKERS     235,235
6   DEPT OF ED HRLY SUPPORT STAFF     164,165
7   FIRE DEPARTMENT     128,819
8   DEPT OF PARKS & RECREATION     117,212
9   DEPARTMENT OF EDUCATION ADMIN     110,936
10  HRA/DEPT OF SOCIAL SERVICES     104,331
11  NYC HOUSING AUTHORITY      95,132
12  DEPARTMENT OF SANITATION      92,755
13  DEPARTMENT OF CORRECTION      91,843
14  DEPT OF ED PER DIEM TEACHERS      90,784
15  Police Department      55,619
16  DEPT OF HEALTH/MENTAL HYGIENE      54,291
17  ADMIN FOR CHILDREN'S SVCS      53,268
18  DEPT OF ENVIRONMENT PROTECTION      48,751
19  DEPARTMENT OF TRANSPORTATION      42,801
20  COMMUNITY COLLEGE (MANHATTAN)      41,594
21  COMMUNITY COLLEGE (LAGUARDIA)      32,068
22  COMMUNITY COLLEGE (KINGSBORO)      31,582
23  COMMUNITY COLLEGE (QUEENSBORO)      26,474
24  COMMUNITY COLLEGE (BRONX)      23,312
25  DEPT. OF HOMELESS SERVICES      19,429
26  DEPT OF CITYWIDE ADMIN SVCS      18,885
27  HOUSING PRESERVATION & DVLPMNT      18,158
28  DEPARTMENT OF FINANCE      16,186
29  COMMUNITY COLLEGE (HOSTOS)      15,002
30  LAW DEPARTMENT      14,321
31  DEPT OF INFO TECH & TELECOMM      12,170
32  DEPARTMENT OF BUILDINGS      12,031
33  DISTRICT ATTORNEY-MANHATTAN      11,405
34  DEPT. OF DESIGN & CONSTRUCTION      10,999
35  DEPARTMENT OF PROBATION       8,385
36  DEPARTMENT FOR THE AGING       8,366
37  DOE CUSTODIAL PAYROL       8,065
38  PERSONNEL MONITORS       7,969
39  DISTRICT ATTORNEY KINGS COUNTY       7,895
40  BOARD OF ELECTION       7,364
41  BRONX DISTRICT ATTORNEY       7,237
42  CITY COUNCIL       7,085
43  OFFICE OF THE COMPTROLLER       6,681
44  TAXI & LIMOUSINE COMMISSION       5,435
45  OFFICE OF THE MAYOR       4,981
46  ADMIN TRIALS AND HEARINGS       4,967
47  DISTRICT ATTORNEY QNS COUNTY       4,682
48  DEPT OF YOUTH & COMM DEV SRVS       4,327
49  GUTTMAN COMMUNITY COLLEGE       4,120
50  NYC EMPLOYEES RETIREMENT SYS       3,505
51  CONSUMER AFFAIRS       3,333
52  FINANCIAL INFO SVCS AGENCY       3,294
53  OFFICE OF MANAGEMENT & BUDGET       3,281
54  TEACHERS RETIREMENT SYSTEM       2,974
55  DEPARTMENT OF CITY PLANNING       2,671
56  DEPARTMENT OF BUSINESS SERV.       2,631
57  HUNTER COLLEGE HIGH SCHOOL       2,617
58  DEPARTMENT OF INVESTIGATION       2,588
59  PUBLIC SERVICE CORPS       2,321
60  CIVILIAN COMPLAINT REVIEW BD       1,698
61  Manhattan DA       1,622
62  DISTRICT ATTORNEY-SPECIAL NARC       1,606
63  OFFICE OF EMERGENCY MANAGEMENT       1,411
64  Kings DA       1,278
65  NYC POLICE PENSION FUND       1,240
66  OFF OF PAYROLL ADMINISTRATION       1,232
67  OFFICE OF LABOR RELATIONS       1,020
68  DISTRICT ATTORNEY RICHMOND COU       1,004
69  CAMPAIGN FINANCE BOARD         946
70  HUMAN RIGHTS COMMISSION         937
71  Bronx DA         935
72  MAYORS OFFICE OF CONTRACT SVCS         719
73  BUSINESS INTEGRITY COMMISSION         672
74  Queens DA         660
75  LANDMARKS PRESERVATION COMM         617
76  CITY CLERK         611
77  DEPT OF RECORDS & INFO SERVICE         563
78  PUBLIC ADVOCATE         562
79  BOROUGH PRESIDENT-BROOKLYN         562
80  CULTURAL AFFAIRS         536
81  PRESIDENT BOROUGH OF MANHATTAN         511
82  BOROUGH PRESIDENT-QUEENS         489
83  BOROUGH PRESIDENT-BRONX         435
84  TAX COMMISSION         424
85  BOROUGH PRESIDENT-STATEN IS         375
86  CUNY CENTRAL OFFICE         365
87  OFFICE OF THE ACTUARY         302
88  INDEPENDENT BUDGET OFFICE         291
89  Spec Narcs-DA         251
90  CONFLICTS OF INTEREST BOARD         196
91  NYC DEPT OF VETERANS' SERVICES         179
92  BOARD OF CORRECTION         171
93  OFFICE OF COLLECTIVE BARGAININ         133
94  Richmond DA         112
95  NYC FIRE PENSION FUND         108
96  PUBLIC ADMINISTRATOR-KINGS         105
97  MUNICIPAL WATER FIN AUTHORITY         102
98  EQUAL EMPLOY PRACTICES COMM          93
99  CIVIL SERVICE COMMISSION          91
100 DEPARTMENT OF JUVENILE JUSTICE          88
101 PUBLIC ADMINISTRATOR-NEW YORK          80
102 PUBLIC ADMINISTRATOR-BRONX          63
103 PUBLIC ADMINISTRATOR-QUEENS          60
104 BRONX COMMUNITY BOARD #10          42
105 PUBLIC ADMINISTRATOR-RICHMOND          40
106 MANHATTAN COMMUNITY BOARD #8          38
107 QUEENS COMMUNITY BOARD #8          36
108 MANHATTAN COMMUNITY BOARD #2          32
109 QUEENS COMMUNITY BOARD #7          32
110 MANHATTAN COMMUNITY BOARD #3          31
111 BRONX COMMUNITY BOARD #11          31
112 QUEENS COMMUNITY BOARD #1          31
113 MANHATTAN COMMUNITY BOARD #1          30
114 QUEENS COMMUNITY BOARD #3          30
115 BROOKLYN COMMUNITY BOARD #5          30
116 BROOKLYN COMMUNITY BOARD #10          30
117 QUEENS COMMUNITY BOARD #6          29
118 QUEENS COMMUNITY BOARD #10          29
119 STATEN ISLAND COMMUNITY BD #2          29
120 MANHATTAN COMMUNITY BOARD #5          28
121 MANHATTAN COMMUNITY BOARD #10          28
122 BRONX COMMUNITY BOARD #9          28
123 QUEENS COMMUNITY BOARD #2          28
124 QUEENS COMMUNITY BOARD #5          28
125 QUEENS COMMUNITY BOARD #9          28
126 QUEENS COMMUNITY BOARD #12          28
127 BROOKLYN COMMUNITY BOARD #13          28
128 BROOKLYN COMMUNITY BOARD #17          28
129 MANHATTAN COMMUNITY BOARD #6          27
130 BROOKLYN COMMUNITY BOARD #2          27
131 BRONX COMMUNITY BOARD #8          26
132 MANHATTAN COMMUNITY BOARD #11          25
133 QUEENS COMMUNITY BOARD #14          25
134 MANHATTAN COMMUNITY BOARD #4          24
135 BRONX COMMUNITY BOARD #7          24
136 BROOKLYN COMMUNITY BOARD #4          24
137 BROOKLYN COMMUNITY BOARD #6          24
138 BROOKLYN COMMUNITY BOARD #11          24
139 BROOKLYN COMMUNITY BOARD #15          24
140 MANHATTAN COMMUNITY BOARD #12          23
141 BRONX COMMUNITY BOARD #2          23
142 QUEENS COMMUNITY BOARD #11          23
143 BROOKLYN COMMUNITY BOARD #12          23
144 STATEN ISLAND COMMUNITY BD #1          23
145 BRONX COMMUNITY BOARD #4          22
146 QUEENS COMMUNITY BOARD #4          22
147 QUEENS COMMUNITY BOARD #13          22
148 BROOKLYN COMMUNITY BOARD #1          22
149 BROOKLYN COMMUNITY BOARD #7          22
150 BROOKLYN COMMUNITY BOARD #8          22
151 BROOKLYN COMMUNITY BOARD #16          22
152 BROOKLYN COMMUNITY BOARD #18          22
153 STATEN ISLAND COMMUNITY BD #3          22
154 MANHATTAN COMMUNITY BOARD #7          21
155 MANHATTAN COMMUNITY BOARD #9          21
156 BRONX COMMUNITY BOARD #5          21
157 BRONX COMMUNITY BOARD #6          21
158 BROOKLYN COMMUNITY BOARD #3          21
159 BROOKLYN COMMUNITY BOARD #14          21
160 BRONX COMMUNITY BOARD #12          20
161 BROOKLYN COMMUNITY BOARD #9          20
162 BOARD OF CORRECTIONS          17
163 BRONX COMMUNITY BOARD #1          15
164 BRONX COMMUNITY BOARD #3          14
165 DISTRICTING COMMISSION           3

In [29]:
last_name = ds_full['Last Name'].value_counts()
print(last_name)

RODRIGUEZ         24912
WILLIAMS          24338
SMITH             19442
BROWN             18617
JOHNSON           18421
                  ...
LILJEGREN             1
POLON                 1
SKEIST                1
SHET                  1
NUNEZ TRINIDAD        1
Name: Last Name, Length: 157081, dtype: int64

In [40]:
from openclean.function.value.null import is_empty
from openclean.operator.transform.update import update
ds_full = update(ds_full, columns='Last Name', func=str.upper)
ds_full = update(ds_full, columns='Last Name', func=lambda x: '/' if is_empty(x) else x)
last_name = ds_full['Last Name'].value_counts()

print(last_name)

ds_full = update(ds_full, columns='First Name', func=str.upper)
ds_full = update(ds_full, columns='First Name', func=lambda x: '/' if is_empty(x) else x)
first_name = ds_full['First Name'].value_counts()

print(first_name)

RODRIGUEZ         24912
WILLIAMS          24338
SMITH             19442
BROWN             18617
JOHNSON           18421
                  ...
LILJEGREN             1
POLON                 1
SKEIST                1
SHET                  1
NUNEZ TRINIDAD        1
Name: Last Name, Length: 157079, dtype: int64
MICHAEL     60512
JOHN        39634
JOSEPH      33445
ROBERT      32363
MARIA       31386
            ...
AYELIH          1
RAMONIA         1
SHYIESHA        1
ADANTA          1
ZABA            1
Name: First Name, Length: 88232, dtype: int64

In [41]:
from openclean.cluster.key import KeyCollision
from openclean.function.value.key.fingerprint import Fingerprint

last_names = stream(datafile).update('Last Name', str.upper).distinct('Last Name')
clusters = KeyCollision(func=Fingerprint()).clusters(last_names)
first_names = stream(datafile).update('First Name', str.upper).distinct('First Name')
clusters = KeyCollision(func=Fingerprint()).clusters(first_names)

In [42]:
def print_k_clusters(clusters, k=5):
    clusters = sorted(clusters, key=lambda x: len(x), reverse=True)
    val_count = sum([len(c) for c in clusters])
    print('Total number of clusters is {} with {} values'.format(len(clusters), val_count))
    for i in range(min(k, len(clusters))):
        print('\nCluster {}'.format(i + 1))
        for key, cnt in clusters[i].items():
            if key == '':
                key = "''"
            print(f'  {key} (x {cnt})')
print_k_clusters(clusters)

Total number of clusters is 875 with 1771 values

Cluster 1
  ANN MARIE (x 1395)
  MARIE ANN (x 7)
  ANN  MARIE (x 5)
  ANN- MARIE (x 3)

Cluster 2
  M A (x 7)
  A M (x 2)
  A .M. (x 2)

Cluster 3
  ANNE MARIE (x 499)
  MARIE ANNE (x 17)
  ANNE - MARIE (x 1)

Cluster 4
  DAN (x 387)
  DAN DAN (x 17)
  D'AN (x 2)

Cluster 5
  DASHA (x 40)
  DA'SHA (x 1)
  D'ASHA (x 1)

In [43]:
profiles.minmax('Agency Start Date')

            min                  max
date 1901-01-01  9999-12-31 00:00:00